.form-group.branch-select-group {
    margin-bottom: 15px;
}

#branchSelect, #registerBranchSelect {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 16px;
    margin-top: 5px;
}

#branchSelect:focus, #registerBranchSelect:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
